html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Incluir texto plano
        style
            include plaintext/styles.css
    body
        h1 Incluir texto plano

        script
            include plaintext/app.js