doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        nav
            ul
                // Atributos en linea
                li
                    a(href="https://www.google.com" target="blank" class="link") Google
                li
                    a(href="https://www.youtube.com" target="blank" class="link") Youtube
                // Atributos multilinea
                li
                    a(href="https://www.gmail.com" 
                      target="blank"
                      class="link") Gmail