html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Casos
    body
        h1 Casos
        - var seguidores = 1000
        case seguidores
            when 1
            when 100
                p Usted tiene muy pocos seguidores
            when 1000
                p Usted tiene #{seguidores} seguidores