extends includes/layout.pug

block title
    title Herencia

block content
    h1 Herencia
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores eos officiis debitis earum doloribus quaerat animi sunt ab nobis. Neque odit sapiente aliquam aspernatur doloribus nam eligendi velit fuga, esse cum tenetur quasi omnis explicabo officiis! Eius voluptas voluptates hic laboriosam beatae ipsam iure soluta laborum doloribus officia obcaecati voluptatibus reprehenderit, nesciunt officiis eligendi perspiciatis omnis fuga repudiandae. Fugit sequi incidunt quod repellat, amet dignissimos consequatur neque ullam quos porro nostrum obcaecati maiores repellendus dolores necessitatibus magnam vitae voluptatibus, molestias laudantium placeat eaque! Aliquid minima odit, vel inventore dolorem eaque esse tenetur soluta reprehenderit quidem perspiciatis doloremque, alias nobis!